.form {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input {
  max-width: 45%;
  margin: 1em 0 1em 0;
}